<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="EssentialWCF.StockService" behaviorConfiguration="myServiceBehavior">
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/EssentialWCF"/>
          </baseAddresses>
        </host>-->
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="MyBinding" contract="EssentialWCF.IStockService" />
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="EssentialWCF.IStockService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="MyBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <compilation />
  </system.web>
</configuration>
<!--ProjectGuid: 09FC48C9-0680-49CF-B586-375E31C8C258-->