<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="EssentialWCF.StockService" behaviorConfiguration="myServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" contract="EssentialWCF.IStockService" />
        <!--<endpoint address="" binding="wsHttpBinding" contract="EssentialWCF.IStockService"/>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!--<serviceDebug includeExceptionDetailInFaults="true" />-->
          <serviceCredentials>
            <userNameAuthentication customUserNamePasswordValidatorType="EssentialWCF.ServiceAuthentication, EssentialWCF" userNamePasswordValidationMode="Custom" />
            <!--<serviceCertificate findValue="myserver.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />-->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MyBinding" closeTimeout="00:01:00" openTimeout="00:01:00">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
            <!--<transport clientCredentialType="Windows"/>-->
            <!--<transport clientCredentialType="Basic"/>-->
            <!--<message clientCredentialType="UserName"/>-->
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <compilation />
    <!--<authentication mode="None" />-->
  </system.web>
</configuration>
<!--ProjectGuid: 09FC48C9-0680-49CF-B586-375E31C8C258-->