<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name ="FreeTrial" type = "ServiceWithConfigBehavior.myBehaviorExtensionElement, ServiceWithConfigBehavior, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="ServiceWithConfigBehavior.StockService" behaviorConfiguration="customBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ServiceWithConfigBehavior"/>
          </baseAddresses>
        </host>
        <endpoint address=""
        binding="basicHttpBinding"
        contract="ServiceWithConfigBehavior.IStockService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="customBehavior">
          <FreeTrial EvaluationKey="SuperSecretEvaluationKey" EvaluationType="Enterprise"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>