<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockService" closeTimeout="00:01:00" openTimeout="00:01:00">
                  <security mode="TransportWithMessageCredential" >
                     <message clientCredentialType="UserName" algorithmSuite="Default"/>
                     <!--<transport clientCredentialType="Windows"/>-->
                  <!--<transport clientCredentialType="Basic"/>-->   
                  <!--<message clientCredentialType="UserName"/>-->
                  </security >
                </binding>
                <binding name="BasicHttpBinding_IStockService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://myserver.com/StockService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockService" contract="ServiceReference1.IStockService"
                name="BasicHttpsBinding_IStockService" />
            <endpoint address="http://myserver.com/StockService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockService1" contract="ServiceReference1.IStockService"
                name="BasicHttpBinding_IStockService1" />
            <endpoint address="https://myserver.com/StockService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockService" contract="EssentialWCF.IStockService"
                name="BasicHttpsBinding_IStockService_IStockService" />
        </client>
    </system.serviceModel>
<system.web>
   <!--<authentication mode="None" />-->
</system.web>
</configuration>