<?xml version="1.0"?>
<configuration>
  
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.Samples.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ServiceModelSamples/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
        <endpoint address="" binding="wsHttpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  
    <diagnostics>
      <messageLogging
      logEntireMessage="true"
      logMessagesAtServiceLevel="true"
      maxMessagesToLog="4000"/>
    </diagnostics>

  </system.serviceModel>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" propagateActivity="true" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="tracelog" traceOutputOptions="Timestamp">
            <filter type="" />
          </add>
          <add name="diagnostics" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="messages.svclog" />
          <add name="diagnostics" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="diagnostics"
      type="System.Diagnostics.XmlWriterTraceListener"
      initializeData="diagnostics.svclog" />
    </sharedListeners>
</system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
