<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="EssentialWCF.StockQuoteService" behaviorConfiguration="myServiceBehavior">
        
        <!--для генерации клиента-->
        <!--behaviorConfiguration="myServiceBehavior">-->

        <!--для генерации клиента-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/EssentialWCF"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="EssentialWCF.IStockQuoteService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->

        <!--netTcpBinding-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/stockquoteservice" />
          </baseAddresses>
        </host>
        <endpoint address="" contract="EssentialWCF.IStockQuoteService" binding="netTcpBinding" />
        <endpoint name="mexNetTcp" address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>

        <!--netNamedPipeBinding-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/stockquoteservice" />
          </baseAddresses>
        </host>
        <endpoint address="" contract="EssentialWCF.IStockQuoteService" binding="netNamedPipeBinding" />-->

        <!--basicHttpBinding-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost/stockquoteservice" />
          </baseAddresses>
        </host>
        <endpoint address="" contract="EssentialWCF.IStockQuoteService" binding="basicHttpBinding" />-->

        <!--wsHttpBinding-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost/stockquoteservice" />
          </baseAddresses>
        </host>
        <endpoint address="" contract="EssentialWCF.IStockQuoteService" binding="wsHttpBinding" />-->

        <!--ws2007HttpBinding-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost/stockquoteservice" />
          </baseAddresses>
        </host>
        <endpoint address="" contract="EssentialWCF.IStockQuoteService" binding="ws2007HttpBinding" />-->
        
        
      </service>
    </services>

    <!--для генерации клиента-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <!--<serviceMetadata httpGetEnabled="True"/>-->
          <serviceMetadata/> <!--для раскрытия mex tcp-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>