<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="EssentialWCF.StockQuoteDuplexService" behaviorConfiguration="myServiceBehavior">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/stockquoteservice" />
          </baseAddresses>
        </host>
        
        <endpoint address="" binding="wsDualHttpBinding" contract="EssentialWCF.IStockQuoteDuplexService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

      </service>
    </services>

    <!--для генерации клиента-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>