<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBankService"
                  sendTimeout="00:10:00"
                />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EssentialWCF" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IBankService" contract="ServiceReference.IBankService"
                name="WSHttpBinding_IBankService">
                <identity>
                    <userPrincipalName value="ARTPK2\V1" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>