<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <!--сгенерированные настройки-->
        <!--<bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockQuoteService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8088/EssentialWCF" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockQuoteService"
                contract="EssentialWCF.IStockQuoteService" name="BasicHttpBinding_IStockQuoteService" />
        </client>-->


      <client>
        <!--<endpoint address="net.tcp://localhost/stockquoteservice" binding="netTcpBinding" contract="EssentialWCF.IStockQuoteService"></endpoint>-->
        <!--<endpoint address="net.pipe://localhost/stockquoteservice" binding="netNamedPipeBinding" contract="EssentialWCF.IStockQuoteService"></endpoint>-->
        <!--<endpoint address="http://localhost/stockquoteservice" binding="basicHttpBinding" contract="EssentialWCF.IStockQuoteService"></endpoint>-->
        <!--<endpoint address="http://localhost/stockquoteservice" binding="wsHttpBinding" contract="EssentialWCF.IStockQuoteService"></endpoint>-->
        <endpoint address="http://localhost/stockquoteservice" binding="ws2007HttpBinding" contract="EssentialWCF.IStockQuoteService"/>
        
        </client>
    </system.serviceModel>
</configuration>