<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <client>
        <endpoint address="net.msmq://localhost/private/stockquoterequest" contract="EssentialWCFClient.IStockQuoteRequest"
        binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity" name="NetMsmqRequestClient"/>
      </client>
      <services>
        <service name="EssentialWCFClient.Program">
          <endpoint address="net.msmq://localhost/private/stockquoteresponse" contract="EssentialWCFClient.IStockQuoteResponse"
        binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity"/>
        </service>
      </services>
      <bindings>
        <netMsmqBinding>
          <binding name="NoMsmqSecurity">
            <security mode="None" />
          </binding>
        </netMsmqBinding>
      </bindings>         
    </system.serviceModel>
    <appSettings>
      <add key="queueName" value=".\private$\stockquoteresponse" />
    </appSettings>
</configuration>